@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f7f8;
}

.title {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 700px;
    font-size: 30px;
    font-weight: 400;
    color: #6DB1BF;
}

.content {
    position: absolute;
    width: 75%;
    height: 25%;
    left: 12.5%;
    top: 30%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .landing_search{
    width: 700px;
    height: 60px;
    background-color: dodgerblue;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.landing_search input {
    padding: 10px 60px 10px 163px;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    color: #919191;
    outline: none;
}

form.hide-submit input[type="submit"] {display: none;}

.landing_search select {
    cursor: pointer;
    position: absolute;
    margin-left: 12px;
    height: 36px;
    width: 140px;
    text-align: center;
    display: flex;
    margin-top: 24px;
    z-index: 1;
    background-color: #fff;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    border-style: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #301A4B;
    color: white;
    text-align: center;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #301A4B;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 5px 5px 5px 5px;
    border-radius: 0 0 12px 0;
}

.navbar a{
    font-size: 30px;
    font-weight: 400;
    color: #6DB1BF;
    text-decoration: none;
    font-weight: bolder;

}

.cont {
    width: 100%;
    height: 90%;
    margin-top: 2.5%;
}

.profile-content-container{
    width: 1080px;
    margin: 0px auto;
    padding-top: 12px;
    display: flex;
}

.profile-header{
    background-color: #f7f7f7;
}

.header-content{
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    width: 1080px;
    position: relative;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex: 1 1 0%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 12px;
}

.profile-icon{
    position: relative;
    width: 100px;
    height: 100px;
    flex-basis: 100px;
}

.profile-icon img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.profile-icon label{

    position: relative;
    left: 32px;
    top: -15px;
    background-color: lightgrey;
    border-radius: 12px;
    text-align: center;
    width: 200px;
    filter: drop-shadow(0px 2px 2px );
}

.profile-text {
    margin-left: 10px;
    line-height: 10px;
}

.match-history{
    background-color: #fff;
    width: 80%;
    padding: 12px 0px 12px 0px;
    border-radius: 12px;
    margin-bottom:10%;
    margin-left: 1%;

}

.ranked {
    width: 19%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10%;
}

.ranked-info {
    background-color: #f7f7f8;
    width: 90%;
    height: 25%;
    margin: 5% 5% 5% 5%;
    border-radius: 12px;
}

.match-container {
    height: 100px;
    background-color: #f7f7f8;
    margin: 0px 12px 6px 12px;
    border-radius: 12px;

}

.match-content-container{
    height: 90%;
    width: 90%;
    align-items: center;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    position: relative;
    top: 5%;
}

.champion-icon {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 12px 12px 12px 0px;
    width: 64px;
    height: 64px;
}

.champion-icon img {
    border-radius: 12px;
    display: block;
    width: 64px;
    height: 64px;
    transform: scale(1.15);
}

.champion-icon .champion-level {
    position: absolute;
    background-color: lightgrey;
    color: black;
    bottom: 0;
    padding: 3px 3px;
    text-align: center;
    border-radius: 0px 3px 0px 1px;
    filter: drop-shadow(0px 2px 2px );
    font-size: 16px;
}

.game-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    line-height: 20px;
    margin-left: 12px;
}

.summoner-spells {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.summoner-spell {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.keystone {
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
    border-radius: 3px;
}


.participant-info{
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: left;
    justify-content: center;
    margin-left: 25px;
}

.kills{
    color: mediumseagreen;
}

.deaths{
    color: darkred;
}

.assists{
    color: #d8ad00;
}

.kda-separator{
    color: #afafaf;
}

.defeat{
    color: darkred;
    font-weight: bold;
}

.victory{
    color: mediumseagreen;
    font-weight: bold;
}

.item-cont {
    display: flex;
    align-items: center;
}

.champ-cont {
    display: flex;
    align-items: center;
    gap: 2px;
}

.items {
    position: relative;
    align-items: center;
    margin-left: 18px;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2px;
    justify-content: space-between;
    padding: 2px 2px 2px 2px;
}

.item {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.trinket-container {

    position: relative;
    margin-left: 2px;
}

.trinket {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.participants {
    display: flex;
    width: 200px;
    height: 90px;
    margin-left: 20px;
}

.participant {
    max-width: 90px;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}

.participant a {
    display:block;
    text-decoration: none;
    color: black;
}

.participant-name {
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 70px;
}

.teamone {
    width: 100px;
    display: grid;
}

.teamtwo {
    width: 100px;
    display: grid;
}

.participant-champ-icon {
    width: 16px;
    height: 16px;
    overflow: hidden;

    border-radius: 4px;
    margin-right: 4px;
}

.participant img{
    width: 16px;
    height: 16px;
    overflow: hidden;
    transform: scale(1.15);
}

.ranked-content{
    font-weight: 800;
    font-size: 20px;
    display: flex;
    border-bottom: 5px solid #fff;
    align-content: center;
    flex-direction: column;
}

.rank-info-cont{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.rank-info-cont p{
    margin: 5px 5px 5px 5px;
}

.rank-icon-img {
    overflow: hidden;
    width: 32px;
    height: 32px;
}

.rank-queuetype {
    font-size: 16px;
    text-align: center;
    color: black;
    margin: 5px 5px 5px 5px;
}

.rank-icon-img img{
    width: 32px;
    height: 32px;
    transform: scale(1.25);
}

.ranked-graph {
    width: 70%;
    height: auto;
    display: flex;
    margin: 5% 5% 5% 5%;
    border-radius: 12px;
}

.update {
    width: 100px;
    height: 50px;
    outline: none;
    border-radius: 3px;
    right: 12px;
    position: absolute;
}

.update button{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    color: white;
    outline: none;
    border-radius: 12px;
    border: none;
}

/* Colours
Main #301A4B
#6DB1BF
#FFEAEC
#F39A9D
#3F6C51

Background #f7f7f8
 */